policy_module(myapp_canary, 1.0.0)

require {
    type myapp_t;
    type myapp_backend_t;
}

# Not installed. Canary uses semanage permissive on the app domain only.
permissive myapp_t;
permissive myapp_backend_t;
