policy_module(myapp, 1.0.0)

type myapp_t;
type myapp_exec_t;
type myapp_var_lib_t;

files_type(myapp_var_lib_t)

init_daemon_domain(myapp_t, myapp_exec_t)

allow myapp_t self:process signal;

require {
    type bin_t;
    class file { getattr open read execute };
}

allow myapp_t bin_t:file { execute getattr open read };
