policy_module(bypass, 1.0.0)

require {
	attribute can_write_shadow_passwords;
}

type bypass_t;
type bypass_exec_t;

domain_type(bypass_t)
files_type(bypass_exec_t)
typeattribute bypass_t can_write_shadow_passwords;
